/*CONFIGURAÇÕES INICIAIS*/
:root {
    --green: #02A28F;
    --white: #fff;
    --greyText: #616161;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
ul{
    list-style: none;
}

a{
    color: var(--white);
}

h1{
    font-size: 2.25rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.25rem;
}

.greyText{
    color: var(--greyText);
}

.greenLabel{
    background-color: var(--green);
    width: 100%;
    height: 3rem;
    color: var(--white);
    box-shadow: #0000001a 0 0 1.25rem ;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*HEADER*/
header{
    width: 100%;
    height: 4.37rem;
    padding-left: 9.75rem;
    background-color: var(--green);
    color:var(--white);
    display: flex;
    align-items: center;
}

/*MAIN*/
main {
    padding: 3.12rem 9.75rem 3.12rem 9.75rem;
    display: flex;
    gap: 1.5rem;
    flex: 1;
}

#mainContent {
    gap: 1.5rem;
}

#headerMain{
    background-image: url(/src/assets/headerMain.svg);
    width: 46.5rem;
    height: 24.75rem;
    color: var(--white);
    padding: 18.8rem 0 1.5rem 1.5rem;
    margin-bottom: 1.5rem;
}

#labelGridCards{
    width: 100%;
    height: 3.5rem;
}

#gridCards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: .8rem;
}

.card{
    box-shadow: #0000001a 0 0 1.25rem ;
    border-radius: 0 0 1rem 1rem;
}

.card p{
    font-size: 0.87rem;
    margin: .5rem 0 .5rem 0;
}

.card img{
    width: 100%;
}

.categoryCard{
    color: var(--green);
}

.textCard{
    padding: .5rem 1rem;
}

/*MAIN LATERAL*/
#mainNavBar{
    width: 100%;
}

.postCard{
    display: flex;
    box-shadow: #0000001a 0 1.25rem 1.25rem ;
    padding: 1rem;
    margin: 0.95rem 0;
    border-radius: 0.62rem;
    gap: 1rem;
}

.postCard h4{
    font-size: 0.875rem;
    margin-bottom: .5rem;
}

.postCard p{
    font-size: 0.75rem;
}

#categorys{
    margin-top: 1.3rem;
}

#categorys h3{
    margin-bottom: .95rem;
}

#categorys ul li{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: .8rem;
    color: var(--greyText);
}

/*FOOTER*/
footer {
    background-color: var(--green);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}
footer p {
    font-size: 0.875rem;
    font-weight: 600;
}